services:
  monerod:
    image: ghcr.io/enucatl/monerod:latest
    build:
      context: .
      dockerfile: src/Dockerfile
    container_name: monerod
    restart: unless-stopped
    volumes:
      - monero:/monero
    ports:
      - 18080:18080
      - 18089:18089
    command:
      - "--confirm-external-bind"
      - "--limit-rate-down=20000"
      - "--limit-rate-up=20000"
      - "--max-concurrency=2"
      - "--no-zmq"
      - "--p2p-ignore-ipv4"
      - "--p2p-use-ipv6"
      - "--prune-blockchain"
      - "--public-node"
      - "--rpc-restricted-bind-ip=0.0.0.0"
      - "--rpc-restricted-bind-ipv6-address=::"
      - "--rpc-restricted-bind-port=18089"
      - "--rpc-use-ipv6"
      - "--sync-pruned-blocks"
    labels:
      - "checkmk_monitor=true"
    networks:
      - default6
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0

volumes:
  monero:

networks:
  default6:
    enable_ipv6: true
    driver_opts:
      com.docker.network.endpoint.sysctls: '{"net.ipv6.conf.eth0.proxy_ndp": "1"}'
    ipam:
      driver: default
