name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest
    
    # Permission required to push images to ghcr.io
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    # Docker tags must be lowercase, but GitHub usernames might contain uppercase letters.
    # This step ensures the username is lowercase before using it in the tag.
    - name: Lowercase Owner Name
      run: |
        echo "OWNER_LC=${OWNER,,}" >>${GITHUB_ENV}
      env:
        OWNER: '${{ github.repository_owner }}'

    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./src/Dockerfile
        push: true
        # Tag format: ghcr.io/owner/image-name:tag
        tags: ghcr.io/${{ env.OWNER_LC }}/monerod:latest
